Package: mkpdf
Version: 0.3.2-1
Architecture: all
Maintainer: Frank Seifferth <frankseifferth@posteo.net>
Depends: pandoc, texlive-full, biber
Provides:
Recommends:
Suggests: pandoc-crossref
Section:
Priority: optional
Description: A simple wrapper around pandoc and latexmk
